html {
    margin: -8px;
    font-family: Roboto Z;
}
.form {
    background: white;
    width: 600px;
    height: 260px;
    margin: 0 auto;
    text-align: center;
}
.left {
    text-align: left;
    margin-left: 40px;
    margin-top: -5px;
}